<table id="products">
  <tr>
    <th>Produkt</th>
    <th>Stückzahl</th>
    <th>Produktbeschreibung</th>
  </tr>
  <tr *ngFor="let product of productList | async">
    <td>{{product.productId}}</td>
    <td>{{product.amount}}</td>
    <td>{{product.description}}</td>
  </tr>
  <tr>
    <td><input type="text"></td>
    <td><input type="number" min="0"></td>
    <td><input type="text"></td>
  </tr>
  <tr>
    <!-- TODO: this should become a button -->
    <td colspan="3">Produkt hinzufügen</td>
  </tr>
</table>
