nav {
  margin: 0 auto 0 auto;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  clear: both;
}

.icon-bar > * {
  margin-right: 30px;
}

.icon-bar > *:last-child {
  margin-right: 0;;
}

#content {
  margin: 20px auto 20px auto;
  border: 0 solid #000;
  clear: both;
}
