<body>
<header>
  <div id="logo">
    <p><img src="assets/images/Logo.png" alt="Kuules Logo"></p>
  </div>
  <div id="hsubscribe" class="icon-bar">
			<span style="font-size: 3em; color: black;">
        <fa-icon [icon]="faShoppingBag"></fa-icon>
			</span>
    <span style="font-size: 3em; color: black;">
				<fa-icon [icon]="faUser"></fa-icon>
			</span>
  </div>
</header>
<div id="menue_search">
		<span style="font-size: 2em; color: black;">
			<fa-icon [icon]="faBars"></fa-icon>
		</span>
  <span style="font-size: 2em; color: black; float: right">
			<input type="text" id="searchbox" name="searchbox" size="60" align="right">
			<fa-icon [icon]="faSearch"></fa-icon>
		</span>
</div>
<nav>
  <p align="center" class="icon-bar">
			<span style="font-size: 3em; color: black;">
				<fa-icon [icon]="faTshirt"></fa-icon>
			</span>
    <span style="font-size: 3em; color: black;">
				<fa-icon [icon]="faPencilRuler"></fa-icon>
			</span>
    <span style="font-size: 3em; color: black;">
				<fa-icon [icon]="faBook"></fa-icon>
			</span>
    <span style="font-size: 3em; color: black;">
				<fa-icon [icon]="faChess"></fa-icon>
			</span>
    <span style="font-size: 3em; color: black;">
				<fa-icon [icon]="faCarrot"></fa-icon>
			</span>
    <span style="font-size: 3em; color: black;">
				<fa-icon [icon]="faPlug"></fa-icon>
			</span>
  </p>
</nav>
<div id="content">
  <div id="contentleft">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li [ngbNavItem]="1">
        <a ngbNavLink>Client</a>
        <ng-template ngbNavContent>
          <app-product></app-product>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>Salesman</a>
        <ng-template ngbNavContent>
          <app-customer></app-customer>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</div>
<footer>
  <p align="center">Kuul e.V. - Teststr. 13 - 12345 Germany</p>
</footer>
</body>
