<body>

<header>
  <a routerLink="/" routerLinkActive="active">
    <img src="../assets/images/Logo.png" alt="Logo">
  </a>
</header>

<nav>
  <a routerLink="/client" routerLinkActive="active">
    <span style="font-size: 3em; color: black;">
      <fa-icon [icon]="faCompressAlt"></fa-icon>
    </span>
  </a>
  <a routerLink="/delivery" routerLinkActive="active">
    <span style="font-size: 3em; color: black;">
      <fa-icon [icon]="faBicycle"></fa-icon>
    </span>
  </a>
  <a routerLink="/salesman" routerLinkActive="active">
    <span style="font-size: 3em; color: black;">
      <fa-icon [icon]="faStore"></fa-icon>
    </span>
  </a>
  <a routerLink="/account" routerLinkActive="active">
    <span style="font-size: 3em; color: black;">
      <fa-icon [icon]="faUser"></fa-icon>
    </span>
  </a>
</nav>

<router-outlet></router-outlet>

<footer>
  <p>KUUL - App für kleine Unternehmen und Lieferanten</p>
</footer>
</body>
